h1{
	text-align: center;
	text-transform: uppercase;
	border: 2px solid greenyellow;
	background-color: greenyellow;
	border-radius: 30px;
	color: white;
}

p{
	text-align: center;
	font-style: italic;
	font-size: 1.3em;
}

fieldset legend {
	text-align: center;
	text-transform: uppercase;
}

.area{
	width: 300px;
	outline: none;
	padding: 5px;
	font-family: Arial;
	border-radius: 30px;
	border-color: darkblue;
	background-color: grey;
	color: white;
}

.area:focus{

}

.last-name, .age{
	margin-left: 250px;
}

.first-name{
	float: right;
	margin-top: -35px;
}

.first-name, .place-born{
	margin-right: 250px;
}

.age{
	margin-top: 40px;
}

#age{
	width: 300px;
}

.place-born{
	float: right;
	margin-top: -38px;
}

.btn{
	text-align: center;
}

.btn-validate{
	padding: 10px;
	width: 100px;
	border-radius: 30px;
	cursor: pointer;
	border-color: cadetblue;
	background-color: cadetblue;
	color: white;
}

.btn-validate:hover{
	border-color: lightblue;
	background-color: lightblue;
}

.btn-remove{
	padding: 10px;
	width: 100px;
	border-radius: 30px;
	cursor: pointer;
	border-color: cadetblue;
	background-color: cadetblue;
	color: white;
}

.btn-remove:hover{
	border-color: lightblue;
	background-color: lightblue;
}